/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f2f1;
}
p {
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 26px;
  font-size: 14px;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}
h2.section-title {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 45px;
  margin-bottom: 60px;
  letter-spacing: 2px;
}
/* header */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header .row {
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  padding: 0 15px;
}
.header .logo a {
  font-family: "Great Vibes", cursive;
  font-weight: thin;
  color: white;
  font-size: 30px;
  font-weight: 600;
}
/* nav */
nav ul {
  padding: 0 15px;
  list-style: none;
}
nav ul li {
  margin-right: 30px;
  display: inline-block;
}
nav ul li a {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  color: white;
  padding: 25px 0;
  transition: 0.5s ease all;
  font-weight: 500;
}

/* home */
section.home {
  height: 100vh;
}
section.home .row {
  height: 100vh;
  align-items: center;
  justify-content: center;
}
section.home .home-text {
  color: white;
  padding: 0 15px;
  text-align: center;
}
section.home .slide {
  position: relative;
  z-index: 1;
  display: none;
}
section.home .slide.active {
  display: block;
}
section.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
section.home .slide-one {
  background: url("../img/slides/slide-1.jpg") center/cover no-repeat;
}
section.home .slide-two {
  background: url("../img/slides/slide-2.jpg") center/cover no-repeat;
}
section.home .slide-three {
  background: url("../img/slides/slide-3.jpg") center/cover no-repeat;
}
section.home .home-text p {
  font-size: 20px;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn linear 0.5s forwards;
  color: white;
}
section.home .home-text h1 {
  font-size: 80px;
  font-weight: normal;
  font-family: "Great Vibes", cursive;
  opacity: 0;
  margin-bottom: 20px;
  animation: fadeIn linear 0.5s forwards;
  animation-delay: 0.5s;
}
section.home .home-text span {
  border: 2px solid white;
  display: inline-block;
  padding: 8px 20px;
  opacity: 0;
  border-radius: 30px;
  font-weight: 500;
  animation: fadeIn linear 0.5s forwards;
  animation-delay: 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* couple section */
section.couple {
  padding: 70px 20px 0;
}
section.couple .row .happy-couple {
  width: 50%;
  padding: 0 60px;
  text-align: center;
}
section.couple .row .happy-couple:first-child {
  position: relative;
}
section.couple .row .happy-couple:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}
section.couple .row .happy-couple img {
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 50%;
  margin: 10px auto 20px;
  border: 10px solid transparent;
}
section.couple .row .happy-couple .couple-name {
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: normal;
  margin-bottom: 20px;
}
section.couple .row .happy-couple p {
  font-size: 14px;
}
section.couple i.fa-heart {
  position: absolute;
  top: 30%;
  text-align: center;
  padding: 5px;
  background-color: #f3f2f1;
  z-index: 1;
  font-size: 14px;
  right: -12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
}
.social-links {
  margin: 20px 0;
}
.social-links a {
  display: inline-block;
  margin-left: 10px;
}
.social-links a i {
  display: block;
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
  display: inline-block;
}
.social-links a:hover i {
  color: white;
}

/* story section */
section.story-section {
  padding: 70px 20px 50px;
  /* border: 2px solid red; */
}
.story-box .story-img,
.story-box .story-text {
  width: 50%;
  padding: 0 60px 60px;
}
.story-img img {
  max-width: 100%;
  width: 100%;
  margin: auto;
  display: block;
}
.story-box .story-text:nth-child(1) {
  text-align: right;
}
.story-box .story-text h3 {
  font-size: 20px;
  font-weight: 500;
}
.story-box .story-text .date {
  color: #555;
  font-weight: 500;
  margin: 7px 0 0;
  font-size: 14px;
}

.story-box .row div:first-child {
  position: relative;
}
.story-box .row div:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}
.story-box .row div:first-child .fa-heart {
  position: absolute;
  display: block;
  top: 5px;
  right: -12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 14px;
  text-align: center;
  background-color: #f3f2f1;
  z-index: 1;
}

/* event section */
section.event-section {
  padding: 70px 20px 70px;
}
section.event-section .section-title {
  color: white;
  font-size: 38px;
}
section.event-section .row {
  justify-content: center;
  align-items: center;
  text-align: center;
}
section.event-section .row .event {
  /* width: 330px; */
  width: 33.3%;
  padding: 15px;
}
section.event-section .eventbox {
  background-color: white;
  padding: 15px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}
section.event-section .eventbox-inner {
  border: 4px solid transparent;
  padding: 30px 15px 60px;
  position: relative;
}
section.event-section .eventbox h3 {
  padding-bottom: 8px;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 500;
  border-bottom: 1px solid #ccc;
  font-size: 20px;
}
section.event-section .eventbox p.date,
section.event-section .row .eventbox p.time {
  font-weight: 500;
}
section.event-section .row .eventbox p.time {
  margin-bottom: 20px;
}
section.event-section .row .event:nth-child(2) {
  transform: translateY(40px);
}
section.event-section .eventbox-inner .flower {
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 17px);
}
