/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f2f1;
}
.container {
  max-width: 1140px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}
.section-title {
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 50px;
  margin-bottom: 40px;
}
/* header */
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header .row {
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  padding: 0 15px;
}
.header .logo a {
  font-family: "Great Vibes", cursive;
  font-weight: thin;
  color: white;
  font-size: 30px;
  font-weight: 600;
}
/* nav */
nav ul {
  padding: 0 15px;
  list-style: none;
}
nav ul li {
  margin-right: 30px;
  display: inline-block;
}
nav ul li a {
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  color: white;
  padding: 25px 0;
  transition: 0.5s ease all;
  font-weight: 500;
}

/* home */
section.home {
  height: 100vh;
}
section.home .row {
  height: 100vh;
  align-items: center;
  justify-content: center;
}
section.home .home-text {
  color: white;
  padding: 0 15px;
  text-align: center;
}
section.home .slide {
  position: relative;
  z-index: 1;
  display: none;
}
section.home .slide.active {
  display: block;
}
section.home .slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
section.home .slide-one {
  background: url("../img/slides/slide-1.jpg") center/cover no-repeat;
}
section.home .slide-two {
  background: url("../img/slides/slide-2.jpg") center/cover no-repeat;
}
section.home .slide-three {
  background: url("../img/slides/slide-3.jpg") center/cover no-repeat;
}
section.home .home-text p {
  font-size: 20px;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn linear 0.5s forwards;
}
section.home .home-text h1 {
  font-size: 70px;
  font-weight: normal;
  font-family: "Great Vibes", cursive;
  opacity: 0;
  margin-bottom: 20px;
  animation: fadeIn linear 0.5s forwards;
  animation-delay: 0.5s;
}
section.home .home-text span {
  border: 2px solid white;
  display: inline-block;
  padding: 8px 20px;
  opacity: 0;
  border-radius: 30px;
  font-weight: 500;
  animation: fadeIn linear 0.5s forwards;
  animation-delay: 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* couple section */
section.couple {
  padding: 70px 20px 70px;
}
section.couple .row .happy-couple {
  width: 50%;
  padding: 0 60px;
  text-align: center;
}
section.couple .row .happy-couple:first-child {
  position: relative;
}
section.couple .row .happy-couple:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #ccc;
}
section.couple .row .happy-couple img {
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 50%;
  margin: 10px auto 20px;
  border: 10px solid transparent;
}
section.couple .row .happy-couple .couple-name {
  font-family: "Great Vibes", cursive;
  font-size: 30px;
  letter-spacing: 2px;
  font-weight: normal;
  margin-bottom: 20px;
}
section.couple .row .happy-couple p {
  line-height: 26px;
  font-size: 14px;
}
i.fa-heart {
  position: absolute;
  top: 30%;
  right: -14px;
  width: 30px;
  text-align: center;
  padding: 5px;
  background-color: #f3f2f1;
  z-index: 1;
  font-size: 18px;
}
.social-links {
  margin: 20px 0;
}
.social-links a {
  display: inline-block;
  margin-left: 10px;
}
.social-links a i {
  display: block;
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
  display: inline-block;
}
.social-links a:hover i {
  color: white;
  background-color: #fb839e;
}
